.fade-enter,.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,.fade-leave-active {
  transition: opacity 0.4s;
}


.fadeTab-enter,.fadeTab-leave-to {
  opacity: 0;
}
.fadeTab-enter-active {
  transition: opacity 0.4s;
}


.slideTopToBottom-enter,.slideTopToBottom-leave-to{
    transform: translateY(-100%);
}
.slideTopToBottom-enter-active,.slideTopToBottom-leave-active{
    transition: transform .4s;
}


.slideBottomToTop-enter,.slideBottomToTop-leave-to{
    transform: translateY(100%);
}
.slideBottomToTop-enter-active,.slideBottomToTop-leave-active{
    transition: transform .4s;
}


.slideRightToLeft-enter,.slideRightToLeft-leave-to{
    transform: translateX(100%);
}
.slideRightToLeft-enter-active,.slideRightToLeft-leave-active{
    transition: transform .4s;
}


.slideLeftToRight-enter,.slideLeftToRight-leave-to{
    transform: translateX(-100%);
}
.slideLeftToRight-enter-active{
    transition: transform .4s;
}
